//         pagina inicio    //

.bg-body{
	background-color:map-get($map:$colores,$key:colorFondo);
}

h1,h2{
	@include texto ($mainFonts,map-get($map:$colores,$key:'colorTitulo'),none);
	
}	
 .carousel-inner {
  max-height: 455px;
	 	
}
.encabezado{
	font-size: $textP;
	margin: 3rem 4rem;
}

.bg-footer{
	background-color:map-get($map:$colores,$key:'colorNav');
		.text-pie{
		margin-left: 1.5rem;
		@include texto($mainFonts,map-get($map:$colores,$key:'colorA'),none);
		}
}


main{
 	img.zoom{

 		@media screen and (min-width:1024px){
			&:hover{
			transform: scale(1.1);
				}
 		}
 	}
} 
section{
	div{
		justify-content: center;
		article{
		 margin-bottom: 4rem;
		}
	}
}
 footer{
 	display: flex;
 	justify-content: space-evenly;
 	align-items: center;
 }
 
// pagina productos //

.card {
  background-color: $bg-card;
  .img-card{
  	height: 450px;
  	object-fit: cover;
  	}
  	.card-title{
  		font-family: $mainFonts;
  	}
}


.btn {
   &:hover {
   color:map-get($map:$colores,$key:'colorA');
  } 
}
.btn-color{
	@extend .btn;
	border-radius: 50px;
	background-color:map-get($map:$colores,$key:'colorBoton'); 
	color: white;
	width: 90%;
	justify-content: center;
	}


// pagina promociones

.height{
	height: 45rem;
}

.imgPromo{
			height: 450px;
}


// pagina contacto 

.formulario{
	margin-left: 80px;
	width: 80%;
}
.animacion{
	width: 85%;
	margin-bottom: 1.5rem;
	}

//pagina conocenos

.maps{
	margin-top: 2rem;
	width: 100%;
	height: 450px;
}	