//fonts//
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Ubuntu:wght@300&display=swap');
  $mainFonts:'Ubuntu', sans-serif;
  $secondariFonts:"Roboto Condensed", sans-serif;



//sizes//
$text-enc:1.8rem;
$textP:1.5rem;
$textLi:1rem;

